name: CD pipeline
on:
    workflow_run:
        workflows: [React ci pipeline/workflow]
        types: completed
            

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment: production

        steps:

            - name: setup node js
              uses: actions/setup-node@v6
              with:
                node-version: '24'

            - name: setup vercel cli
              run: npm install -g vercel
              
            - name: download bulid files/artifacts
              uses: actions/download-artifact@v4
              with:
                name: bulid
                run-id: ${{github.event.workflow_run.id}}
                github-token: ${{github.token}}

            - name: deploy to vercel
              run: vercel --prod --token=${{secrets.VERCEL_TOKEN}} --confirm --CICD project

